.sec_colorbg {                  background-color: var(--gold_link);}

.author_card {                  display: flex;
                                gap: 50px;
                                align-items: center;}

.author_card img {              height: 250px;
                                width: 250px;
                                object-fit: cover;
                                border-radius: 200px;
                                border: 3px solid black;}

.author_card_text h2 {          margin-bottom: 5px;}

.author_card_text ul {          display: column;
                                padding-left: 0px;
                                justify-content: space-between;
                                align-items: center;}

.author_card_text li {          margin-top: 5px;
                                margin-bottom: 5px;}

.author_card_text ul {          display: column;
                                padding-left: 0px;
                                justify-content: space-between;
                                align-items: center;}

/*/////////////
Slay
/////////////*/
.sec_authorsAll {                       margin-top: 40px;
                                        margin-bottom: 40px;}
                                
.centered_authorCont    {               margin-left: 100px;
                                        margin-right: 100px;
                                        display: flex;
                                        gap: 30px;
                                        justify-content: center; }

.centered_authorCont_card {             text-align: center;
                                        width: 250px;}

.centered_authorCont_image {            display: flex;
                                        justify-content: center;}

.centered_authorCont_image img:hover {  border: 2px solid black;}
.centered_authorCont_image img {        border-radius: 200px;
                                        width: 150px;
                                        height: 150px;
                                        justify-content: center;}


.centered_authorCont_card h3 {          margin-top: 15px;
                                        text-transform: uppercase;}

.centered_authorCont h5 {               margin-top: 0px;}
