/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
STORY CREATE Styles
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.col_12_form {      padding: 40px;
                    z-index: 4;}

.col_12_form ul {   padding-left: 0px;}

.headline_field {   width: 100%;
                    height: 30px;}
                    
.preview_field {    width: 100%;
                    height: 100px;}

.article_field {    width: 100%;
                    height: 1000px;}

.etc_field  {       width: 500px;}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
BUTTON Styles
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
button.allbutton {              background-color: var(--black_body);
                                color: var(--white_off);
                                font-weight: 600;
                                width: 150px;
                                border: none;
                                text-transform: uppercase;
                                padding-top: 2px;
                                padding-bottom: 2px;}

button.yellowbutton:hover {     background-color: var(--gold_link);
                                color: var(--black_main);}

button.deletebutton:hover {     background-color: var(--red_error);
                                color: var(--black_main);}

button.greenbutton:hover {      background-color: var(--green_success);
                                color: var(--black_main);}

.error {                        color: var(--red_error);;}
.flash {                        padding: 5px;
                                background-color: var(--red_error);;
                                color: white;}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
STORY INDEX Styles
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.col_12_story_item {            display: flex;
                                gap: 20px;
                                margin-bottom: 15px;
                                background-color: var(--white_grey)}

.col_12_story_item img {        height: 250px;
                                width: 250px;
                                object-fit: cover;}

.col_12_story_item h5 {         margin: 5px 0px;}

.col_12_story_text {            padding-right: 20px;}